@import 'ui-variables';

@snooze-quickaction-img: '../static/images/thread-list-quick-actions/ic-quickaction-snooze@2x.png';

.thread-list .list-item .list-column-HoverActions .action.action-snooze {
  background: url(@snooze-quickaction-img) center no-repeat;
}

.snooze-button {
  order: -103;
}

.snooze-popover {
  min-width: 316px;
  color: @text-color-subtle;
  display: flex;
  flex-direction: column;

  .snooze-row {
    display: flex;

    .snooze-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      min-width: 0;
      appearance: none;
      border: 0;
      background: transparent;
      color: inherit;
      font: inherit;
      padding: 16px 8px;
      cursor: pointer;
      width: 105px;
      border-radius: 0;
      line-height: initial;
      text-align: initial;

      img {
        background-color: fadeout(@btn-default-text-color, 20%);
      }
      &:hover {
        background-color: #eaf1fb;
        color: @accent-primary;
        img {
          background-color: fadeout(@btn-default-text-color, 10%);
        }
      }
      &:active {
        background-color: #dce9f8;
        color: @accent-primary-dark;
        img {
          background-color: fadeout(@btn-default-text-color, 0%);
        }
      }
      & + .snooze-item {
        border-left: 1px solid @border-color-divider;
      }
    }
    & + .snooze-row {
      border-top: 1px solid @border-color-divider;
    }
  }

  .snooze-input {
    border-top: 1px solid @border-color-divider;
    padding: @padding-large-vertical @padding-large-horizontal;

    input {
      width: 100%;
      margin-bottom: 3px;
    }
  }
}
