@import 'ui-variables';

.feature-usage-modal.snooze {
  @snooze-color: #8e6ce3;
  .feature-header {
    background: @snooze-color;
  }
  .feature-name {
    color: @snooze-color;
  }
  .pro-description {
    li {
      &:before {
        color: @snooze-color;
      }
    }
  }
}
