@import 'ui-variables';

.send-later-popover {
  min-width: 316px;
  padding: 4px;

  .btn-cancel {
    width: 100%;
    margin-top: 6px;
  }
}

.btn-send-later {
  .at {
    margin-left: 3px;
  }
}

.send-later-status {
  display: flex;
  align-items: center;

  .time {
    font-size: 0.9em;
    opacity: 0.62;
    color: @accent-primary;
    font-weight: @font-weight-medium;
  }
  img {
    width: 38px;
    margin-left: 15px;
  }
}
