@import 'ui-variables';

.feature-usage-modal.send-later {
  @send-later-color: #777ff0;
  .feature-header {
    background: @send-later-color;
  }
  .feature-name {
    color: @send-later-color;
  }
  .pro-description {
    li {
      &:before {
        color: @send-later-color;
      }
    }
  }
}
