@import 'ui-variables';
@import 'ui-mixins';

@keyframes sending-progress-move {
  0% {
    opacity: 0.45;
  }
  100% {
    opacity: 1;
  }
}

.draft-list {
  color: @text-color;
  background: @background-primary;

  .list-item {
    border-bottom: 1px solid @border-color-divider;
    background: @background-primary;

    &:hover {
      background: @background-off-primary;
    }

    &.focused,
    &.selected {
      background: @list-focused-bg;
    }
  }

  .list-column {
    display: flex;
    min-width: 0;
    align-items: center;
  }

  .participants,
  .details {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .participants {
    color: @text-color-subtle;

    &.no-recipients {
      color: @text-color-very-subtle;
    }
  }

  .details {
    display: flex;
    flex: 1;
    align-items: baseline;
    gap: 8px;

    .subject {
      flex: 0 1 auto;
      min-width: 0;
      overflow: hidden;
      color: @text-color;
      font-weight: @font-weight-semi-bold;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .snippet {
      flex: 1;
      min-width: 0;
      overflow: hidden;
      color: @text-color-subtle;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .no-subject {
      color: @text-color-very-subtle;
      font-style: italic;
    }
  }

  .timestamp {
    color: @text-color-very-subtle;
    font-size: @font-size-small;
    white-space: nowrap;
  }

  .sending {
    background-color: @background-primary;
    &:hover {
      background-color: @background-primary;
    }
  }

  .sending-progress {
    display: block;
    height: 7px;
    align-self: center;
    background-color: @background-primary;
    border-bottom: 1px solid @border-color-divider;
    position: relative;

    .filled {
      display: block;
      background: @component-active-color;
      height: 6px;
      width: 100%;
      transform: scaleX(0); // overridden by style
      transform-origin: left center;
      transition: transform 300ms cubic-bezier(0.22, 1, 0.36, 1);
    }
    .indeterminate {
      display: block;
      background: @component-active-color;
      height: 6px;
      width: 100%;
    }
    .indeterminate:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.3);
      animation: sending-progress-move 900ms ease-in-out infinite alternate;
    }
  }
}
